<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= headTitle %></title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include('partials/navigation', { menuLinks, activeLinkPath }) %>
  <main>
    <h1 class="heading"><%= headTitle %></h1>
    <p>The page you requested was not found.</p>
  </main>
</body>
</html>