<!DOCTYPE html>
<html>
  <head>
    <title>Shop - Add product</title>
  </head>
  <body>
    <%- include('partials/navigation', { 
      menuLinks: [
        { href: '/', label: 'Home' },
        { href: '/products/new', label: 'Newest product' },
        { href: '/logout', label: 'Logout' }
      ], 
      activeLinkPath: '/products/add' 
    }) %>

    <h1>Add product</h1>
    <form action="/products/add" method="POST">
      <br />
      <label>
        Name
        <br />
        <input type="text" name="name" required />
      </label>
      <br />
      <label>
        Description
        <br />
        <input type="text" name="description" required />
      </label>
      <br />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
